#wrap {
  width: 100%;
  margin: 0;
}
ul li {
  list-style: none;
}
ul li a {
  color: hotpink;
}
.navbar {
  background-color: grey;
  width: 300px;
  height: 1000px;
}

.navbar li a {
  font-size: 26px;
}
.max-small {
  width: auto;
  height: auto;
  max-width: 800px;
  max-height: 400px;
}
section {
  display: absolute;
  top: 500px;
  right: 300px;
}
footer {
  margin: 0;
  background-color: grey;
}
