#wrap {
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
ul li a {
  color: white;
}
.navbar {
  position: relative;

  background-color: #4287f5;
  width: 300px;
  height: 1100px;
}
.navbar li {
  padding: 6px;
}
.navbar li a {
  font-size: 26px;
}
.max-small {
  width: auto;
  height: auto;
  max-width: 800px;
  max-height: 400px;
}
section {
  position: absolute;
  top: 0;
  left: 300px;
}
footer {
  position: relative;
  top: 5px;
  height: 250px;
  margin-top: 0;
  background-color: #4287f5;
}
footer h1 {
  color: white;
  text-align: center;
  padding-top: 5px;
}
footer h2 {
  color: white;
  text-align: center;
}
footer .footerbar_icons {
  font-size: 50px;
  text-align: center;
}
footer .footerbar_icons a {
  color: white;
}
footer .footer_rights p {
}
